@media screen and (min-width: 1600px) {

* {
    font-family: 'Raleway', sans-serif;
}
.main {
    background-color: #f2f2f2;
}

.img_header {
    width: 100%;
}

.fa-heart {
    cursor: pointer;
}

.top {
    margin-top: -150px;
    position: relative;
    height: 110px;
    padding-top: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    gap: 80%;
    background-color: #f2f2f2;
}

.menu_container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-bottom: 40px;
}

.title_card {
    padding-left: 40px;
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
    font-size: 30px;
    background-color: #f2f2f2;
}

.entrees_title {    
    border-bottom: solid 3px;
    width: 40px;
    border-color: #99E2D0;
}

.button_container_entree {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    height: 300px;
}

.entrees_button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #ffffff;
    width: 270px;
    height: 70px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 #e7e7e7c5;
    cursor: pointer;
}

.discript_cost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cost {
    font-weight: bold;
}

.footer {
    background-color: #252424;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer_logo {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    color: #ffffff;
    margin-left: 30px;
    padding-bottom: 20px;
}

.footer_container {
    display: flex;
    justify-content: space-around;
}

.footer_text {
    display: flex;
    color: #ffffff;
}

.fa-utensils {
    color: #ffffff;
    padding-right: 10px;
}

.fa-handshake-angle {
    color: #ffffff;
    padding-right: 10px;
}

.hyper_link {    
    color: #ffffff;
    text-decoration: none;
}
}