@media screen and (min-width: 1600px) {

* {
    font-family: 'Raleway', sans-serif;
}

/*load in animation*/
body {
    animation: fade_in 400ms ease-in;
}

@keyframes fade_in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/*load timer*/
.timer {
    border: 16px solid #000; 
    border-radius: 50%;
    border-top: 16px solid #FF79DA;
    width: 120px;
    height: 120px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45.5%;
    z-index: 1;
    animation: spin 400ms;
    animation: spin 1s linear ;
    transform: scale(0);
}

@keyframes spin {
    0% { transform: rotate(0deg); scale: 100%; }
    100% { transform: rotate(360deg); scalex: 0%; }
    
}


.button_container_entree {
    animation: fade_in_button 600ms ease-out;
}



.header_placing {
    display: flex;
    flex-direction: row;
    align-items: center;
} 


.fa-arrow-left {
    color: #000 !important;
    width: 40px;
    font-size: 20px;
}

.title {
    padding-bottom: 5px;
    width: 250px;
    color: #000;
}

.main {
    background-color: #f2f2f2;
}

.img_header {
    object-fit: cover;
    height: 600px;
    width: 100%;
}

.fa-heart {
    padding-right: 40px;
    cursor: pointer;
}

.top {
    margin-top: -150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 165px;
    padding-top: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #f2f2f2;
}

.menu_container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-bottom: 40px;
}

.title_card {
    padding-left: 40px;
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
    font-size: 30px;
    background-color: #f2f2f2;
}

.like {
    background-color: #f2f2f2;
    height: 32px;
    cursor: pointer;
}

.fa-stack-1 {
    color: #000000;
    position: absolute;
    
}

.like:hover .fa-stack-1 {
    animation: heart2 ease-in-out 1ms;
    animation-fill-mode: forwards;
}


.fa-stack-2 {
    color: #00000000;
}

.like:hover .fa-stack-2 {
    animation: heart ease-in-out 1ms;
    animation-fill-mode: forwards;
}

@keyframes heart {
    0%{left: 120px; top: 0px; color: #ff79d900;}
    100%{left: 0px; top: 0px;color: #FF79DA;}
}

@keyframes heart2 {
    0%{left: 120px; top: 0px; color: #000;}
    100%{left: 0px; top: 0px;color: #00000000;}
}

.entrees_title {    
    display: inline-block;
    border-bottom: 3px solid #f2f2f2;  
    position: relative;
    width: 85px;
    padding-left: 10px;
}

/*to allow text to be on one line*/
    .entrees_title::before {
    border-bottom: 3px solid #99E2D0;
    position: absolute;
    content: '';
    bottom: -3px;
    width: 50%;
}

    .button_container_entree {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    height: 435px;
}

.entrees_button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #ffffff;
    width: 344px;
    height: 80px;
    border-radius: 30px;
    box-shadow: 4px 6px 7px 0 #e7e7e7c5;
    cursor: pointer;
    background: rgb(255,255,255);
    /*background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 78%, rgba(153,226,208,1) 78%);*/
}

.entrees_button:hover {
    background: rgb(255,255,255);   
    box-shadow: 0 6px 8px 0 #ceccccec;
}

.entrees_button:active {
    background: linear-gradient(90deg, #FFFFFF 78%, #99e2d0 78%);
}

.fa-circle-check {
    color: #00000000;
    transition: transform 0.6s;
}

.discription {
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 15px;
}    

.tile_split {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order {
    position: relative;
}

/*Animations*/
.entrees_button:hover .fa-circle-check {
    position: relative;
    animation: check 300ms, ease-in-out, paused;
    animation-fill-mode: forwards;
    transform: rotate(360deg);

}

.entrees_button:hover {
    animation: fade 250ms ease-in-out, paused;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% {background: linear-gradient(90deg, #FFFFFF 96%, #99E2D0 96%); }
    20% {background: linear-gradient(90deg, #FFFFFF 93%, #99E2D0 93%); }
    40% {background: linear-gradient(90deg, #FFFFFF 91%, #99E2D0 91%); }
    60% {background: linear-gradient(90deg, #FFFFFF 89%, #99E2D0 89%); }
    80% {background: linear-gradient(90deg, #FFFFFF 86%, #99E2D0 86%); }
    90% {background: linear-gradient(90deg, #FFFFFF 84%, #99E2D0 84%); }
    100% {background: linear-gradient(90deg, #FFFFFF 79%, #99E2D0 79%); }
}

@keyframes check {
    0% {left: 120px; top: 2px; padding-left: 0px, color #ffffff00}
    25%{color: #ffffff00;}
    50% {padding-left: 5px;}
    100% {left: -15px; top: 2px; color: #FFFFFF;}  
}

.button_dish {
    width:fit-content;
    font-size: 18px;
    font-weight: bold;
}

.entrees_button:hover .button_dish {
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 280px;
}

.discript_cost {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cost {
    font-weight: bold;
}

.entrees_button:hover .cost {
animation: cost 250ms, ease-in-out, paused;
animation-fill-mode: forwards;
}

@keyframes cost {
    0% {padding-right: 0; top: 0px; padding-left: 0px, color #ffffff00}
    25%{padding-right: 15px;}
    50% {padding-right: 25px;}
    75% {padding-right: 35px;}
    100% {padding-right: 50px;}
}


.order_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    height: 300px;
}

.order_button {
    color: #ffffff;
    text-align: center;
    background-color: #FF79DA;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    box-shadow: 0 6px 8px 0 #ceccccec;
    width: 200px;
    height: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    cursor: pointer;
}

.order_button:hover {
    box-shadow: 4px 6px 7px 0 #c1bdbd;   
}

.footer {
    background-color: #252424;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer_logo {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 20px;
}

.footer_container {
    display: flex;
    justify-content: space-around;
}

.footer_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
}

.fa-utensils {
    color: #ffffff;
    padding-right: 10px;
}

.fa-handshake-angle {
    color: #ffffff;
    padding-right: 10px;
}

.hyper_link {    
    color: #ffffff;
    text-decoration: none;
}
}