@media screen and (max-width: 1599px) {

* {
    font-family: 'Raleway', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
}

.header_placing {
    display: flex;
    flex-direction: row;
    align-items: center;
} 

.fa-arrow-left {
    color: #000 !important;
    margin-right: 0px;
    padding-left: 20px;
    font-size: 20px;
    justify-self: flex-end;
}    

.title {
    width: 220px;
    padding-left: 20px;
    padding-bottom: 4px;
}

.main {
    background-color: #f2f2f2;
}

.img_header {
    object-fit: cover;
    height: 450px;
    width: 100%;
}

.fa-heart {
    padding-right: 20px;
    cursor: pointer;
}

.like {
    background-color: #f2f2f2;
    cursor: pointer;
}

.fa-stack-1 {
    color: #000000;
    position: absolute;
    
}

.like:active .fa-stack-1 {
    animation: heart2 ease-in-out 1ms;
    animation-fill-mode: forwards;
}


.fa-stack-2 {
    color: #00000000;
}

.like:active .fa-stack-2 {
    animation: heart ease-in-out 1ms;
    animation-fill-mode: forwards;
}

@keyframes heart {
    0%{left: 120px; top: 0px; color: #ff79d900;}
    100%{left: 0px; top: 0px;color: #FF79DA;}
}

@keyframes heart2 {
    0%{left: 120px; top: 0px; color: #000;}
    100%{left: 0px; top: 0px;color: #00000000;}
}

.top {
    margin-top: -150px;
    position: relative;
    height: 110px;
    padding-top: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
}

.menu_container {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
}

.title_card {
    padding-left: 20px;
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
    font-size: 30px;
    background-color: #f2f2f2;
}

.entrees_title {    
    display: inline-block;
    border-bottom: 3px solid #f2f2f2;  
    position: relative;
    width: 85px;
    padding-left: 20px;
}

/*to allow text to be on one line*/
.entrees_title::before {
    border-bottom: 3px solid #99E2D0;
    position: absolute;
    content: '';
    bottom: -3px;
    width: 50%;
}

.button_container_entree {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    gap: 15px;
    height: 340px;
    padding-bottom: 30px;
}

.entrees_button {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #ffffff;
    width: auto;
    max-width: 100%;
    height: 80px;
    border-radius: 30px;
    box-shadow: 4px 6px 7px 0 #e7e7e7c5;
    cursor: pointer;
}

.entrees_button:hover {
    background: rgb(255,255,255);   
    box-shadow: 0 6px 8px 0 #ceccccec;
}

.entrees_button:active {
    box-shadow: 0 6px 8px 0 #ceccccec;
    background: linear-gradient(90deg, #FFFFFF 78%, #99e2d0 78%);

}

.button_dish {
    font-size: 18px;
    font-weight: bold;
}

.discript_cost {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cost {
    font-weight: bold;
}

.order_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    height: 300px;
}

.order_button {
    color: #ffffff;
    text-align: center;
    background-color: #FF79DA;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    box-shadow: 0 4px 8px 4px #e7e7e7c5;
    width: 200px;
    height: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    cursor: pointer;
}

.order_button:hover {
    box-shadow: 0 4px 8px 0 #a8a8a8c5;

}

.footer {
    background-color: #252424;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer_logo {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 20px;
}

.footer_container {
    display: flex;
    justify-content: space-around;
}

.footer_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
}

.fa-utensils {
    color: #ffffff;
    padding-right: 10px;
}

.fa-handshake-angle {
    color: #ffffff;
    padding-right: 10px;
}

.hyper_link {    
    color: #ffffff;
    text-decoration: none;
}
}