@media screen and (max-width: 1599px) {
* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-left: 0px;
    margin-right: 0px;
}

/*load in animation*/
.main {
    animation: fade_in 500ms ease-out;
}

@keyframes fade_in {
    0% {
        transform: translateY(-100%) ;
    }
    100% {
        transform: translateY(0) ;
    }
}

/*load timer*/
.timer {
    border: 16px solid #000; 
    border-radius: 50%;
    border-top: 16px solid #FF79DA;
    width: 120px;
    height: 120px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 1;
    animation: spin 400ms;
    animation: spin 1s linear ;
    transform: scale(0);
}

@keyframes spin {
    0% { transform: rotate(0deg); scale: 100%; }
    100% { transform: rotate(360deg); scalex: 0%; }
    
}


.logo {
    padding-left: 20px;
    width:200px;
}

.discover_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-color: #f2f2f2;
}

.pin_container {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 -2px 0px 0px #3d3a3a38;
    background-color: #e2dfdf;
}

.fa-location-dot {
    padding-right: 10px;
}

.filter_container{
    display: flex;
    flex-direction: column;
    height: 280px;
    background-color: #ffffff;
}

.explore {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    background-color: #f2f2f2;
}

.book_content {
    padding-top: 20px;
}

.align_container {
    text-align: center;
}

.explore_button {
    color: #ffffff;
    text-align: center;
    background-color: #FF79DA;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 4px #e7e7e7c5;
}

.explore_button:hover {
    box-shadow: 0 4px 8px 0 #a8a8a8c5;
}

.explore_button:active {
    box-shadow: 0 4px 8px 0 #a8a8a8c5;
}

.button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.choose_button {
    width: 300px;
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #e7e7e7c5;
}

.choose_button:hover {
    box-shadow: 0 4px 8px 2px #c5c4c4c5;
}


.choose_button:active {
    box-shadow: 0 4px 8px 2px #c5c4c4c5;
}

.fa-1 {
    color: #ffffff;
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 100px;
    background-color: #9356DC;
    margin: -16px;
}

.fa-2 {
    color: #ffffff;
    padding: 7px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 100px;
    background-color: #9356DC;
    margin: -16px;
}

.fa-3 {
    color: #ffffff;
    padding: 7px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 100px;
    background-color: #9356DC;
    margin: -16px;
}

.fa-mobile-screen-button {
    padding-left: 30px;
    padding-right: 15px;
    color: #3d3a3a38;
}

.fa-ellipsis-vertical {
    padding-left: 30px;
    color: #3d3a3a38;
}

.fa-bars {
    padding-right: 15px;
    color: #3d3a3a38;
}

.fa-store {
    padding-left: 30px;
    padding-right: 15px;
    color: #3d3a3a38;
}

.main {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section_1 {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 30px;
    padding-bottom: 40px;
}

.tile_container_one {
    display: flex;
    gap: 30px;
}

.tile_container_two {
    display: flex;
    gap: 30px;
}

.tile {
    color: #000 !important;
    position: relative;
    flex: 1;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 #e7e7e7c5;
}

.tile:hover {
    box-shadow: 0 4px 8px 0 #ceccccec;    
}

.tile:active {
    box-shadow: 0 4px 8px 0 #ceccccec;    
}


.new {
    position: absolute;
    right: 10%;
    top: 8%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #306355;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #99E2D0;
    border-radius: 6px;
    width: 50px;
}

.hyper_link_black {
    text-decoration: none;
    color: #000;
}

.fa-stack-1 {
    color: #000;
    position: absolute;
}

.fa-stack-1:hover {
    font-size: 0px;
    color: #FF79DA00;
}


.fa-stack-2:hover {
    position: relative;
    color: #FF79DA;
}

.fa-solid-pink {
    color: #FFFFFF;
}


.large_font {
    padding-left: 10px;
    font-size: 26px;
}

.padding_left {
    padding-left: 20px;
}

.bold {
    font-weight: bold;
}


.content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

img.restaurant {
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 400px;
}

.footer {
    background-color: #252424;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer_logo {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    color: #ffffff;

    padding-bottom: 20px;
   /* -webkit-filter: invert(100%);*/
}

.footer_container {
    display: flex;
    justify-content: space-around;
}

.footer_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
}

.fa-utensils {
    color: #ffffff;
    padding-right: 10px;
}

.fa-handshake-angle {
    color: #ffffff;
    padding-right: 10px;
}

.hyper_link {    
    color: #ffffff;
    text-decoration: none;
}
}